@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');

.main {
    display: flex;
    justify-content: space-around;
}

.first, .second, .third, .fourth, .fifth {
    width: 200px;
    height: 200px;
    background-color: #de5114;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}

.second {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.third {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fourth {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fifth {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}